@use "../abstracts";

.auth {
    display: flex;
    min-height: 100vh;

    &__intro,
    &__content {
        flex: 1;
        padding: 0 30px;

        @include abstracts.screen(md) {
            flex-shrink: 0;
        }
    }

    &__intro {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;

        &-logo,
        &-next {
            position: absolute;
            left: 50%;
            translate: -50%;
        }

        &-logo {
            top: 80px;
        }

        &-next {
            bottom: 50px;
        }

        &-text {
            max-width: 412px;
            text-align: center;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.44;
        }

        &-img {
            width: 100%;
        }
    }

    &__content {
        background: var(--auth-content-bg);

        @include abstracts.screen(md) {
            &.hide {
                translate: 100%;
            }

            position: fixed;
            inset: 0;
            z-index: 1;
            transition: translate 0.3s;
            overflow-y: auto;
        }

        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: min(460px, 100%);
            margin: 0 auto;
            padding: 50px 0;
            text-align: center;
        }
    }

    &__heading {
        margin-top: 50px;
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.47;
    }

    &__desc {
        margin-top: 10px;
        padding: 0 30px;
        color: #9e9da8;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.47;
    }

    &__form {
        width: 100%;
        margin-top: 30px;
    }

    &__link {
        color: #0071dc;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__btn-group {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
    }

    &__btn {
        width: 100%;
    }

    &__text {
        margin-top: 108px;
        color: #9e9da8;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 144.444%;
    }
}
