@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(31%) saturate(1243%) hue-rotate(210deg) brightness(96%)
        contrast(96%);

    --header-bg-color: #eee;
    --body-bg-color: #f6f6f6;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow-color: rgba(237, 237, 246, 0.2);
    --footer-bg-color: var(--header-bg-color);
    --footer-text-color: #6e6d74;
    --social-color: brightness(0) saturate(100%) invert(0%) sepia(17%) saturate(10%) hue-rotate(318deg) brightness(104%)
        contrast(100%);

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    // Dropdow
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;

    // Sidebar
    --sidebar-bg: #fff;
    --side-shadow: rgba(200, 200, 200, 0.4);

    // Category Item
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;

    @include abstracts.screen(md) {
        --cate-item-bg: #fff;
    }

    // Buttons
    --filter-btn-color: #6c6c72;
    --filter-btn-bg: #fff;
    --like-btn-shadow: rgba(124, 124, 124, 0.2);

    // Product card
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);

    // Filter form
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.4);
    --filter-form-tag-bg: #f8f8fb;

    // Auth
    --auth-intro-bg: #fafafd;
    --auth-content-bg: #fff;
    --text-second-color: #1a162e;

    @include abstracts.screen(md) {
        --auth-intro-bg: #fff;
    }
}
