@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(31%) saturate(1243%) hue-rotate(210deg) brightness(96%)
        contrast(96%);

    --header-bg-color: #eee;
    --body-bg-color: #f6f6f6;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow-color: rgba(237, 237, 246, 0.2);

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    // Dropdow
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;

    // Sidebar
    --sidebar-bg: #fff;
    --side-shadow: rgba(200, 200, 200, 0.4);

    // Category Item
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;

    @include abstracts.screen(md) {
        --cate-item-bg: #fff;
    }
}
