@use "../abstracts";

.slideshow {
    position: relative;
    margin: 40px 0;
    --slideshow-color: #fff;

    @include abstracts.screen(md) {
        margin: 30px 0;
    }

    &__inner {
        display: flex;
        overflow: hidden;
    }

    &__item {
        position: relative;
        width: 100%;
        padding-top: 34%;
        flex-shrink: 0;

        @include abstracts.screen(md) {
            padding-top: 50%;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;
    }

    &__page {
        display: flex;
        align-items: center;
        column-gap: 16px;
        width: 13%;
        position: absolute;
        bottom: 14%;
        left: 5%;
    }

    &__num {
        color: var(--slideshow-color);
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }

    &__slider {
        position: relative;
        width: 100%;
        height: 4px;
        flex-shrink: 0;
        background: var(--slideshow-color);

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            width: 14px;
            height: 14px;
            border: 4px solid var(--slideshow-color);
            border-radius: 50%;
        }

        &::before {
            left: 0;
            translate: -72% -50%;
        }

        &::after {
            right: 0;
            translate: 72% -50%;
        }
    }
}
